div.container-leaderboard {
  background-color: #373853;
  padding: 0px 40px 0px 40px;
  border: 5px double #F2DC6D;
  color: white;
  border-radius: 40px;
  height: 654px;
  overflow: auto;
  min-width: 600px;
}

table.leaderboard-table {
  width: 100%;
  border-spacing: 0px 5px;
  text-align: left;
  font-weight: bold;
  font-size: 0.9rem;
  overflow-y: scroll;
}

table.leaderboard-table > thead {
  position: sticky;
  top: 0;
  background-color: #373853;
}
table.leaderboard-table > thead > tr > th {
  padding-top: 40px;
  padding-bottom: 10px;
}
table.leaderboard-table > tfoot {
  position: sticky;
  bottom: 0;
  background-color: #373853;
}
table.leaderboard-table > tfoot > tr > td {
  padding-bottom: 40px;
}

tr.leaderboard-content-row {
  background-color: #434459;
  border: 1px solid #434459;}

.table-inner-padding {
  padding: 10px 25px;
}

td.row-border-radius-left {
  border-radius: 20px 0% 0% 20px;
}
td.row-border-radius-right {
  border-radius: 0% 20px 20px 0%;
}

td.table-footer {

}
td.table-footer-padding {
  padding-top: 30px;
}
div.table-footer-container {
  display: flex;
  justify-content: space-between;
}
div.table-footer-left-container {
  
}
div.table-footer-right-container {
  display: flex;
  gap: 50px;
}

.arrow-size {
  font-size: 1.2rem;
}

#sorted {
  color: #F2DC6D;
}