.container {
  padding: 100px 100px;
  margin: 0 auto;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
}

.none-drag {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}